// Variables
@import 'variables';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rounded Elegance';
    font-style: normal;
}

body {
    background: $color-body-bg;

    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 7px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #f38a6c;
    }
}

.content-wrapper {
    @media(max-width: $media-tablets-768) {
        margin-top: 56px;
    }
}

.page-preloader-wrap {
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s opacity;

}

.preloaded_loaded {
    display: none;
}

.preloaded_hiding {
    transition: 0.3s opacity;
    opacity: 0;
}

img {
    max-width: 90%;
    height: auto;
}

h1 {
    color: $color-white;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 54px;
    letter-spacing: 0.03em;

    @media(max-width: 1200px) {
        font-size: 35px !important;
    }

    @media(max-width: $media-tablets-768) {
        font-size: 38px;
        text-align: center;
    }
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 41px;
    color: $color-black;

    @media(max-width: 1200px) {
        font-size: 40px;
    }

    @media(max-width: $media-tablets-768) {
        text-align: center;
        font-size: 32px;
    }

}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    color: $color-black;
    margin-top: 20px;
    margin-bottom: 20px;

    @media(max-width: 1200px) {
        font-size: 40px;
    }

    @media(max-width: $media-tablets-768) {
        font-size: 20px;
        text-align: center;
    }
}

p {
    font-size: 16px;
    color: $color-black;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.02em;
    text-decoration: none;

    @media(max-width: 1200px) {
        font-size: 15px !important;
    }

    @media(max-width: $media-tablets-768) {
        text-align: center;
    }

}

button, a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
button {
    border: none;
}

.link-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    transition: 0.2s all;
    border-radius: 10px;
    padding: 21px 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;

    @media(max-width: 1000px) {
        font-size: 15px;
        padding: 17px 28px;
    }

    @media(max-width: $media-tablets-768) {
        font-size: 14px;
        padding: 14px 26px;
        margin: auto;
    }

    svg path {
        transition: 0.2s all;
    }

    &.orange {
        background: $color-orange;
        color: $color-white;
    }

    &.orange:hover {
        background: #CD4620;
    }

    &.white {
        background: $color-white;
        color: $color-orange;
    }

    &.white:hover {
        background: #FFE8E1;
    }

    &.black {
        background: $color-white;
        color: $color-black;

        svg {
            path {
                color: $color-black;
                stroke: #212121;
                stroke-width: 1.5px;
            }
        }
    }

    &.black:hover {
        background: #b4b4b4;
        color: $color-white;
    }

    &.black:hover svg path {
        stroke: $color-white;
        transition: 0.2s all;
    }

    &.grey {
        background: $color-white;
        color: $color-grey;
        border: $color-grey 1px solid;

        svg {
            path {
                color: $color-grey;
                stroke: $color-grey;
                stroke-width: 1.5px;
            }
        }
    }

    &.grey:hover {
        background: $color-grey;
        color: $color-white;
        stroke: $color-white;
    }
}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128.52%;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    color: $color-white;
    transition: .2s all ease-in-out;

    &:hover {
        transition: .2s all ease-in-out;
    }

    &.orange {
        color: $color-orange;

        &:hover {
            color: $color-orange-120;
        }

    }

    @media(max-width: 800px) {
        font-size: 14px !important;
    }
}

header {
    background: $color-orange;

    @media(max-width: $media-tablets-768) {
        position: fixed;
        width: 100%;
        top:0;
        z-index: 20;
    }

    .logo svg {
        width: 188px;

        @media(max-width: $media-tablets-768) {
            width: 100px;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 0;

        @media(max-width: $media-tablets-768) {
            padding: 10px 0;
        }

        .mobile_menu_burger {
            display: none;
        }

        @media (max-width: $media-desktops-1200) {
            .mobile_menu_burger {
                display: inherit;
                cursor: pointer;
            }
        }


        .menu_wrap {
            display: flex;
            gap: 28px;

            svg {
                display: none;
                cursor: pointer;
            }

            @media (max-width: $media-desktops-1200) {
                position: fixed;
                right: -200px;
                top: 0;
                display: flex;
                z-index: 10;
                gap: 15px;
                flex-direction: column;
                background: $color-white;
                padding: 40px 30px 20px 20px;
                transition: .3s all ease-in-out;
                border-radius: 0 0 0 10px;

                &.active {
                    right: 0;
                    transition: .3s all ease-in-out;
                }
                a {
                    color: $color-orange;
                    font-size: 16px !important;
                }

                svg {
                    position: absolute;
                    display: inherit;
                    top: 20px;
                    right: 20px;

                    path {
                        stroke: $color-grey;
                    }
                }
            }


        }

        .socials_wrap {
            display: flex;
            gap: 16px;

            @media(max-width: $media-mobiles-480) {
                display: none;
            }

            .social {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .link-bg {
            padding: 20px;
            border: none;
            font-size: 15px;

            @media(max-width: $media-tablets-768) {
                display: none;
            }
        }
    }
}

footer {
    background: #3E487D;
    padding-top: 70px;
    padding-bottom: 20px;

    h2, p, a {
        color: #D8DBEB;
    }

    .top_block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @media(max-width: $media-tablets-768) {
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 40px;
        }

        .column {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2 {
                font-weight: 400;
                font-size: 16px;
                color: $color-white;
                line-height: 22px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            .socials_wrap {
                display: flex;
                gap: 15px;
                margin-bottom: 30px;

                @media(max-width: $media-tablets-768) {
                    justify-content: center;
                }


                a {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background: #D8DBEB;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .bottom_block {
        .docs_wrap {
            padding: 20px 0;
            border-top: 1px solid #535D92;
            border-bottom: 1px solid #535D92;
            margin-bottom: 20px;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        p {
            font-size: 13px;
            line-height: 15px;
            color: #A2AAD1;
        }
    }
}

.input_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 10px;
    }

    input, textarea, select {
        border: 1px solid $color-grey;
        font-size: 14px;
        padding: 12px;
        transition: .2s all ease-in-out;
        border-radius: 5px;

        &::placeholder {
            color: #c6c5c5;
        }

        &:focus-visible {
            border: 1px solid $color-orange;
            outline: none;
        }
    }
}

.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox_wrap {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            color: $color-orange;
        }
    }
    input[type='checkbox'],
    input[type='radio'] {
        --active: #E15A34FF;
        --active-inner: #FFFFFF;
        --border: #E15A34FF;
        --border-hover: #E15A34FF;
        --background: #fff;
        --disabled: #E15A34FF;
        --disabled-inner: #FFFFFF;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-bottom: 3px;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
        border-radius: 5px;

        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }

        &:checked {
            --b: var(--active);
            --bc: #E15A34FF;
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }

        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: .9;

            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }

            & + label {
                cursor: not-allowed;
            }
        }

        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--border-hover);
                }
            }
        }

        &:not(.switch) {
            width: 21px;
            min-width: 21px;

            &:after {
                opacity: var(--o, 0);
            }

            &:checked {
                --o: 1;
            }
        }

        & + label {
            font-size: 14px;
            //line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }
    input[type='checkbox'] {
        &:not(.switch) {
            //border-radius: 7px;
            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 3px;
                transform: rotate(var(--r, 20deg));
            }

            &:checked {
                --r: 43deg;
            }
        }

        &.switch {
            width: 38px;
            //border-radius: 11px;
            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }

            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }

            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: .6;
                    }
                }
            }
        }
    }
    input[type='radio'] {
        border-radius: 50%;

        &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, .7));
        }

        &:checked {
            --s: .5;
        }
    }
}
