$font-family: 'Gilroy';

// Colors
$color-body-bg: #FBFBFB;

$color-orange: #E15A34;
$color-orange-120: #cb3b13;
$color-black: #212121;
$color-black-80: #525159;
$color-black-60: #dedede;

$color-grey: #828282;
$color-white: #FFFFFF;
$color-dark-blue: #37466D;

// MEDIA
$media-desktops-1200: 1200px;
$media-laptops-1024: 1024px;
$media-laptops-1024: 1024px;
$media-tablets-768: 768px;
$media-mobiles-480: 480px;
